<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rental Edit</title>

  <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/assets/vendor/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" th:if="${user.role == T(com.example.bookthebook.model.enumeration.Role).ADMIN}" th:href="@{/users}">Корисници</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:if="${user.role == T(com.example.bookthebook.model.enumeration.Role).STUDENT}" th:href="@{/users/{id}(id=${user.id})}">Корисник</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" th:if="${user.role == T(com.example.bookthebook.model.enumeration.Role).ADMIN}" th:href="@{/rentals}">Изнајмувања</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/books}">Книги</a>
    </li>
  </ul>


  <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="get">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Одјави се!</button>
  </form>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Измени го статусот на изнајмување</h1>
      <p>Овој поглед ги листа сите изнајмувања направени од сите корисници. Притоа го прикажува и статусот на изнајмувањето, изнајмените дати (од кога до кога), но доколку статусот на изнајмувањето е PENDING, тогаш датата не се прикажува бидејќи сеуште не е отпочнато изнајмувањето
    </p>
  </div>
</div>

<div class="container">
      <div class="row">
        <h3 class="col-4">Студент: </h3>
        <h5 class="col-4" th:text="${rental.getUser().getFirstName()}"></h5>
      </div>

      <div class="row">
        <h3 class="col-4">Име на книга: </h3>
        <h5 class="col-4" th:text="${rental.getBook().getTitle()}"></h5>
      </div>

      <div class="row">
        <h3 class="col-4">Опис на книга: </h3>
        <h5 class="col-4" th:text="${rental.getBook().getDescription()}"></h5>
      </div>

      <div class="row">
        <h3 class="col-4">Број на страни: </h3>
        <h5 class="col-4" th:text="${rental.getBook().getPage()}"></h5>
      </div>

      <div class="row">
        <h3 class="col-4">Број на примероци од книга: </h3>
        <h5 class="col-4" th:text="${rental.getBook().getQuantity()}"></h5>
      </div>

      <div class="row">
          <h3 class="col-4">Статус на изнајмување: </h3>

        <div class="col-4">
          <form action="/rentals/edit"
              method="post"
              enctype="multipart/form-data"
              th:object="${rental}">

            <input type="text" hidden="hidden" name="id" th:value="${rental.getId()}">

            <select th:field="${rental.bookStatus}" id="bookStatus" name="bookStatus">
              <option th:each="state : ${T(com.example.bookthebook.model.enumeration.BookStatus).values()}"
                      th:value="${state}"
                      th:text="${state}">
              </option>
            </select>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </div>
</div>



</body>
</html>