<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>


    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" th:if="${user.role == T(com.example.bookthebook.model.enumeration.Role).ADMIN}" th:href="@{/users}">Корисници</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:if="${user.role == T(com.example.bookthebook.model.enumeration.Role).STUDENT}" th:href="@{/users/{id}(id=${user.id})}">Корисник</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:if="${user.role == T(com.example.bookthebook.model.enumeration.Role).ADMIN}" th:href="@{/rentals}">Изнајмување</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/books}">Книги</a>
        </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="get">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Одјави се!</button>
    </form>

</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 th:text="${firstName}"></h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>Код</th>
            <th>Почетна дата</th>
            <th>Крајна дата</th>
            <th>Наслов на книга</th>
            <th>Корисничко име</th>
            <th>Статус на изнајмување</th>
        </tr>
        <tr th:each="rental : ${rentals}">
            <td th:text="${rental.id}"></td>
            <td th:text="${rental.startDate}"></td>
            <td th:text="${rental.endDate}"></td>
            <td th:text="${rental.getBook().getTitle()}"></td>
            <td th:text="${rental.getUser().getFirstName()}"></td>
            <td th:text="${rental.bookStatus}"></td>
            <!--    <td>-->
            <!--      <form th:action="@{/books/{id}(id=${book.id})}" method="post">-->
            <!--        <input type="hidden" name="_method" value="DELETE">-->
            <!--        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this book?')">-->
            <!--      </form>-->
            <!--    </td>-->

        </tr>
    </table>
</div>

</body>
</html>