<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логирај се!</title>

    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body style="background-color: #f4f8fc">

<div class="container pt-5">
    <form class="form-signin pt-5" method="post" action="/login">
        <h2 class="form-signin-heading pt-5">Логирај се!</h2>
        <p>
            <label for="email">Е-маил:</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="john.doe@gmail.com" required="" autofocus="">
        </p>
        <p>
            <label for="password">Лозинка:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <button class="btn btn-block btn-primary" type="submit">Најави се</button>
    </form>
    <br>
    <a href="/signup" class="btn btn-block btn-outline-dark">Регистрирај се тука</a>
</div>


</body>
</html>